replicaCount: 1

image:
  repository: harshithagmini8/simple-api
  tag: "v1"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 5000

ingress:
  enabled: true
  host: harshitha.ddns.net
  tlsSecret: simple-api-tls
  clusterIssuer: letsencrypt-prod
